header {
    text-align: center;
}

#build {
    text-align: center;
    background-color: red;
    width: 25%;
}

#build.ok {
    background-color: green;
}

#build.wip {
    background-color: yellow;
}

section.build h2 {
    font-size: 1.9em;
}